body{
  font-size: 15px;
  line-height: 25px;
  font-family: "Avenir", Helvetica, Sans-serif;
  word-wrap: break-word;
  background-color: #fff;
  color: #333;
}
.img{
  height: 400px;
  width: 100%;
  background-size: cover;
}
.section_2_home_page{
   margin-top: 30px !important;
}
h1 {
    font-size: 40px;
    letter-spacing: .02em;
    line-height: 1.1em;
    font-weight: 600;
    font-family: "Halant", Helvetica, Serif;
}
h1.underline {
    border-bottom: 1px solid #000;
    display: table;
    padding-bottom: 7px;
    color: #000;
    margin-bottom: 8px;
}
h1.sub {
    font-size: 20px;
    margin-top: 0px;
    letter-spacing: .09em;
    color: #000;
}
.btn-opposite {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .05em;
    font-family: "Avenir";
    border-radius: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #aaa;
    background-color: transparent;
    padding: 7px 13px 4px 13px;
}
.full-width-title {
    padding-top: 30px;
    padding-bottom: 30px;
}
.dark-bg {
    background: #444;
    color: #fff;
}
.full-width-title h1 {
    font-size: 30px;
    padding: 0;
    margin: 0;
    line-height: 1.35em;
    text-align: center;
}
.section_4_home_page{
  padding:0px !important;

}

.hovereffect {
width:100%;
height:400px;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:85%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .1s ease-in-out;
transition:all .1s ease-in-out
}

.hovereffect img {
height: auto;
width: 100%;
display:block;
position:relative;
-webkit-transition:all .1s linear;
transition:all .1s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .1s ease-in-out;
transition:all .1s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .1s ease-in-out;
transition:all .1s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.1s;
transition-delay:.1s;
}
.full-width-no-bg {
    padding-top: 42px;
    margin-bottom: 0;
    background: white;
    height: 122px;
}
.log img{
  height:100px;
}